---
import { basics } from "../../utils/cv.json";
import Section from "../Section.astro"

const {summary} = basics;
---

<Section title="Work Experience">
    <article>
        <header>
            <div class="titleExperience">
                <h3>fa</h3>
                <span></span>
            </div>
            <h4>fsafas</h4>
        </header>
        <p><summary></summary></p>
    </article>
</Section>
